# frozen_string_literal: true

class <%= domain_class_name %>::Builders::Error < RiderKick::Builders::AbstractActiveRecordEntityBuilder
  acts_as_builder_for_entity <%= domain_class_name %>::Entities::Error
end
