# frozen_string_literal: true

class <%= domain_class_name %>::Entities::Error < Dry::Struct
  attribute :attribute, Types::Strict::String
  attribute :type, Types::Strict::String
  attribute :options, Types::Hash.optional
end
