# frozen_string_literal: true

class <%= domain_class_name %>::Repositories::AbstractRepository
  include Dry::Monads[:result, :do]

  def http
    extend(<%= domain_class_name %>::Utils::RequestMethods)
  end

  def error_messages_for(record)
    record.errors.to_a.join(', ')
  end

  def build_error(code, message, attribute: nil)
    [{ code: code, message: message, attribute: attribute }]
  end

  def build_errors(resource)
    resource.errors.map do |error|
      { code: error.type.to_s, message: error.message, attribute: error.attribute.to_s }
    end
  end

  def prepare!(params, sanitize: true)
    if sanitize
      Hashie::Mash.new(params.reject { |_, v| v.nil? || (v.is_a?(String) && v.blank?) })
    else
      Hashie::Mash.new(params)
    end
  end

  def paginate!(pagy)
    <%= domain_class_name %>::Builders::Pagination.new(pagy).build
  end

  def build_pagination_variable!(params)
    @per_page = params[:per_page] || Pagy::DEFAULT[:limit]
    @page     = params[:page] || 1
    @search   = params[:search]
  end
end
