# frozen_string_literal: true

class <%= domain_class_name_for_application_record %>::ApplicationRecord < ActiveRecord::Base
  primary_abstract_class
  self.abstract_class = true

  # Adjust default sort order
  self.implicit_order_column = :created_at
end
