# frozen_string_literal: true

class Core::UseCases::Contract::Default
  def call
    default
  end

  private

  def default
    Dry::Schema.Params do
        if @scope_owner_column.present?
          required(@scope_owner_column).filled(:string)
        end
    end
  end
end
