# frozen_string_literal: true

class Core::UseCases::Contract::Default
  def call
    default
  end

  private

  def default
    Dry::Schema.Params do
<% if RiderKick.scope_owner_column[:active].eql?(true)-%>
      required(:RiderKick.scope_owner_column[:column]).filled(:string)
<% end-%>
    end
  end
end
